#appletControlForm {
	font-size: 100%;
	padding-top: 20px;
	font-family: Calibri, Verdana, 'Lucida Sans Unicode', Helvetica, sans-serif;
}

#appletInputDiv h2 {
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	color: #555;
	font-family: Calibri, Verdana, 'Lucida Sans Unicode', Helvetica, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 2px #DDD;

}

#appletControlForm #appletUpdateButton, #appletControlForm #appletPauseButton {
	width: 110px;
	margin: 15px 20px 10px 20px;
	display: inline;
}


#appletControlForm label {
	display: inline-block;
	float: left;
	width: 190px;
	padding-left: 15px;
	padding-bottom: 12px;
	clear: left;
	color: #555;
	font-size: 15px;
}

#appletControlForm input, select, option {
	width: 80px;
	margin-left: 10px;
	float: left;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #C6C6C6;
	color: #666;
	font-size: 100%;
	line-height: 18px;
	clear: right;
	font-family: Calibri, Verdana,  'Lucida Sans Unicode', Helvetica, sans-serif;

}

